@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* @font-face {
    font-family: 'Neue Montreal';
    src: url('fonts/PPNeueMontreal-Regular.woff2') format('woff2'),
      url('fonts/PPNeueMontreal-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  } */

  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  html {
    font-size: 10px;
  }

  body {
    @apply text-16 overflow-x-hidden transition-opacity ease-out-expo duration-700;
  }

  a,
  button {
    @apply outline-black;
  }

  ::selection {
    @apply bg-black text-white;
  }
}

@layer components {
}

@layer utilities {
}
