<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'head.twig' %}
  </head>

  <body class="{{ classList(
    'font-sans text-18',
    is_mobile ? 'is-mobile'
  ) }}">

    <div id="root">

      <main a-root>
        {% block content %}
          <div a-page>
            Hi mom
          </div>
        {% endblock %}
      </main>
    </div>

    <script src="{{ site.theme.link }}/{{ manifest['main.js'] }}"></script>
		
    {{ wp_footer }}
	</body>
</html>